.radioButton2{
  background-color: white;
  height: 45px;
  width: 100%;
  position: relative; /* Changed from absolute to relative */
  overflow: hidden;
  border: 1px solid #36b446 !important;
}

.radioButton2 input[type="radio"] {
  all: unset !important;
  display: none !important;
}

.radioButton2 input[type="radio"]:checked + label {
  background-color: #36b446 !important; /* Change background color to green */
  color: white !important; /* Change text color to white for better contrast */
  transition: background-color 0.7s, color 0.7s !important;
}

.radioButton2 label {
  cursor: pointer !important;
  padding-top: 0px;
  width: 50% !important;
  text-align: center !important;
  display: inline-block !important;
  height: 45px; /* Corrected height from 180px to 35px */
  background: white; /* Default background color */
  color: #36b446;
  transition: background-color 0.5s, color 0.5s;
}

.radioButton2 label span {
  display: flex;
  height: 45px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
